<h1>Question#answer</h1>
<p>Find me in app/views/question/answer.html.erb</p>

<h1> <%=@reponse%> </h1>

<!-- 3 - Coach Answer Page
Time to implement the logic in the answer action (second step of the user story). The answer.html.erb will display the question you ask your coach as well as his answer. The controller will need to read the question from params and compute an instance variable @answer for the view to display. Here are two requests that you should be able to handle:

localhost:3000/answer?question=hello
localhost:3000/answer?question=what+time+is+it%3F -->


